@reference "tailwindcss";

@layer swedev {
  .Badge {
    &:global(.rt-r-size-1) {
      @apply font-semibold;
      padding: calc(var(--space-1) * 1) calc(var(--space-1) * 1.5);
    }

    &:global(.rt-r-size-2) {
      font-size: var(--font-size-2);
    }

    &:global(.rt-r-size-3) {
      font-size: var(--font-size-3);
    }
  }
}
