@reference "tailwindcss";

@layer swedev {
  .Callout {
    @apply relative gap-2 items-start;

    &.vertical {
      @apply pt-6 pb-8 flex flex-col items-center text-center;
    }

    .Icon {
      @apply flex mt-[0.1em];
    }

    .Content {
      @apply flex-1;

      &.vertical {
        @apply py-1 text-center;
      }
    }

    .Title {
      @apply mt-0 font-semibold;
    }

    .Dismiss {
      @apply cursor-pointer absolute -top-1 -right-1;
    }
  }
}
